extends layout 
 
block content 
  h1= title 
 
   if (toShow == null) 
      h2 No instance to detail 
   else
  - let vechiclesid = toShow._id 
  - let vechicle_type = toShow.vechicle_type 
  - let color = toShow.color 
  - let no_of_tyres = toShow.no_of_tyres 
  div 
    div.row 
      div(class='vechicleAttr mr-3') vechicles ID is: 
      div #{vechiclesid} 
    div.row 
      div(class='vechicleAttr mr-3') vechicles Type is: 
      div #{vechicle_type} 
    div.row 
      div(class='vechicleAttr mr-3') vechicles color is: 
      div #{color} 
    div.row 
      div(class='vechicleAttr mr-3') vechicles no_of_tyres: 
      div #{no_of_tyres} 