extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-sm-2" style=`border:solid 2px black` onclick=`buy(${items.indexOf(cin)})`) 
          p.
           vechicle_type -  #{cin.vechicle_type}
          p.
           color -  #{cin.color}
          p.
           no_of_tyres  -  #{cin.no_of_tyres}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }