extends layout

block content
  - let vechicles = results
  h1= title
  div(class="container-fluid")
  div(class="row m-1")
    each vechicle in vechicles
      - let destination = `dispatch(\"/vechicle/update?id=${vechicle._id}\")`
      div(class="row-sm-2", class="m-1") vechicle #{vechicle.vechicle_type} (#{vechicle.color}) is #{vechicle.no_of_tyres}
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }