extends layout
block content
 h1= title
 - let vechicleid = toShow._id
 - let vechicle_type = toShow.vechicle_type
 - let vechiclecolor = toShow.color
 - let no_of_tyres = toShow.no_of_tyres
 div
 div.row
 div(class='vechicleAttr mr-3') Vechicle ID is:
 div #{vechicleid}
 div.row
 div(class='vechicleAttr mr-3') Vechicle Type is:
 div #{vechicle_type}
 div.row
 div(class='vechicleAttr mr-3') Vechicle color is:
 div #{vechiclecolor}
 div.row
 div(class='vechicleAttr mr-3') No_of_tyres is:
 div #{no_of_tyres}